#ra{
    height: 100px;
    width: 200px;
    background-color: aqua;
    color: black;
}
img{
    height: 100px;
    width: 200px;
    margin-left: 100px;
    margin-top: 100px;
}

.red{
    background-color: red;
}
.blue{
    background-color:blue;
}
.green{
    background-color: green;
}
.highlight{
    border: 5px solid black;
    padding: 20px;
}

#old{
    height: 100px;
    width: 100px;
    background-color: aqua;

}
.show{
    display: block;
}
.hide{
    display: none;
}
#oldd{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
}
#div3{
    height: 100px;
    width: 100px;
    background-color: peachpuff;
}

#rotate{
    height: 100px;
    width: 100px;
    background-color: khaki;
}

.dark{
    background-color: black;
    color : white;
}

.light{
    background-color: white;
    color : black;
}