header{
    background-color: #f8c00b;
   width: 100%;
  
}
.headerr{
    display: flex
    ;
        max-width: 1170px;
        margin: 0 auto;
        height: 42px;
}
.div-1 img{
    height: 20px;
    width: 20px;
    margin: 10px 0px 0px 2px;
    border-radius: 50%;
}
.div-1 p{
    margin: 11px 9px 0px 5px;
}
.div-2 img{
    height: 20px;
    width: 20px;
    margin: 7px 0px 0px 7px;
}
.div-2{
    display: flex
;
    position: absolute;
    right: 11%;
    top: 1.6%;

}
.div-2 div{
    height: 33px;
    width: 34px;
    border-radius: 50%;
    background-color: white;
    margin-right: 8px;
}
.div-1 {
    display: flex;
}
.div-1-1 {
    display: flex;
    color: white;
}
.div-1-2 {
    display: flex;
    color: white;
}
.header-2{
    background-color: white;
    width: 100%;
    margin-top: 14px;
}
.headere{
    max-width: 1170px;
    margin: 0 auto;
    height: 65px;
    display: flex
;
    position: relative;
}
.nav{
    display: flex
    ;
        position: absolute;
        right: 0%;
        top: 36%;
}
.nav a li{
    list-style: none;
    color: black;
    text-transform: uppercase;
    margin-right: 19px;
}
.nav a li:last-child{
    margin-right: 15px;
}
.nav a{
    display: flex;
    text-decoration: none;
}
.nav span{
 color:  #f8c00b;
 margin-right: 5px;
}
#waso{
    font-size: 47px;
    color: #f8c00b;
    margin-right: 4px;
}
#Strategy{
    font-size: 43px;
    color: red;
}
.bigimage{
    background-image: url(back.jpg);
    height: 670px;
    max-width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.textt{
    position: absolute;
    bottom: 11%;
    left: 8%;
    color: white;
}
.button{
    display: flex;
}
.big-image-paragraph p{
    text-transform: uppercase;
}
.big-image-paragraph span{
    color: #f8c00b;
    margin: 16px 0px 0px 6px;
    font-weight: bold;
}
.big-image-paragraph{
    display: flex;
}
.textt h1{
    font-size: 45px;
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 12px;
}
.textt span{
    color: #f8c00b;
}
.textt button{
    color: white;
    background-color: red;
    border-radius: 20px;
    padding: 10px 22px;
    border: none;
    margin-right: 21px;
}

@media (min-width:320px) and (max-width:767px){
    header{
        background-color: #f8c00b;
       width: 100%;
      
    }
    .headerr{
        display: flex
        ;
                max-width: 1170px;
                margin: 0 auto;
                height: 85px;
    }
    .div-1 img{
        height: 20px;
        width: 20px;
        margin: 10px 0px 0px 2px;
        border-radius: 50%;
    }
    .div-1 p{
        margin: 11px 9px 0px 5px;
    }
    .div-2 img{
        height: 20px;
        width: 20px;
        margin: 7px 0px 0px 7px;
    }
    .div-2{
        display: flex
        ;
                position: absolute;
                right: 56%;
                top: 5.6%;
    
    }
    .div-2 div{
        height: 33px;
        width: 34px;
        border-radius: 50%;
        background-color: white;
        margin-right: 8px;
    }
    .div-1 {
        display: flex;
    }
    .div-1-1 {
        display: flex
        ;
                color: white;
                margin-right: 49px;
    }
    .div-1-2 {
        display: flex;
        color: white;
    }
    .header-2{
        background-color: white;
        width: 100%;
        margin-top: 14px;
    }
    .headere{
        max-width: 1170px;
        margin: 0 auto;
        height: 54px;
        display: flex
    ;
        position: relative;
    }
    .nav{
        display: flex
        ;
            position: absolute;
            right: 0%;
            top: 36%;
            display: none;
    }
    .nav a li{
        list-style: none;
        color: black;
        text-transform: uppercase;
        margin-right: 19px;
    }
    .nav a li:last-child{
        margin-right: 15px;
    }
    .nav a{
        display: flex;
        text-decoration: none;
    }
    .nav span{
     color:  #f8c00b;
     margin-right: 5px;
    }
    .bigimage {
        background-image: url(back.jpg);
        height: 670px;
        max-width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #waso{
        font-size: 35px;
        color: #f8c00b;
        margin-right: 4px;
    }
    #Strategy{
        font-size: 35px;
        color: red;
    }
}